<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=LAPTOP-QSD1P64U;Initial Catalog=ReiDoAlmoco;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" name="ReiDoAlmoco" />
  </connectionStrings>
  
</configuration>